@model juve.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Rejestracja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">.login-validation-message { color:#ff0000}</style>
<div class="register">
    <h2>Rejestracja</h2>


    @using (@Html.BeginForm("Register", "Account"))
    {
        @Html.AntiForgeryToken()



        <table id="login-table" style="margin-left: auto; margin-right: auto;">
            <tr>
                <td>@Html.LabelFor(o => o.Email, "E-mail:")</td>
                <td>
                    @Html.TextBoxFor(o => o.Email)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Email)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(o => o.Login, "Login:")
                </td>
                <td>
                    @Html.TextBoxFor(o => o.Login)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Login)
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(o => o.Password, "Hasło:")</td>
                <td>
                    @Html.PasswordFor(o => o.Password)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.Password)

                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td >
                    @Html.LabelFor(o => o.ConfirmPassword, "Potwierdź hasło:")
                </td>
                <td >
                    @Html.PasswordFor(o => o.ConfirmPassword)
                    <div class="login-validation-message">
                        @Html.ValidationMessageFor(o => o.ConfirmPassword)
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2" style="text-align: right; padding-right: 20px;">
                    <input type="submit" value="Zarejestruj" />
                </td>
            </tr>
        </table>
    }
</div>
@section Scripts
    {
        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    }