@using System.Web.Mvc.Html
<!DOCTYPE html>
<html>
<head>
    <title>Fc Juventus Turyn</title>
    <meta charset="utf-8" />
    <meta name="description" content="Strona internetowa fanów klubu piłkarskiego Juventus Turyn" />
    <meta name="keywords" content="Juventus Turyn,piłka nożna,serieA,juve" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />



   @Styles.Render("~/Content/css")
  
</head>
<body>

    <header class="contener floatfix">
        <h1><a href="@Url.Action("Index","Home")">Juventus Turyn</a></h1>
        <nav>
            <a href="#" class="switch">MENU</a>
            <ul class="menu">
                <li><a href="@Url.Action("Index","Home")">Strona główna</a></li>
                <li><a href="@Url.Action("Index","Player")">Drużyna</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home",new { nazwa = "Historia" })">Historia</a></li>
                <li><a href="@Url.Action("StronyStatyczne","Home",new { nazwa = "Kontakt" })">Kontakt</a></li>
            </ul>
        </nav>
    </header>
    <div class="slogan-bg">

        <div class="slogan">
            <h1>FC JUVENTUS TURYN</h1>
            <br />
            <h2>BIANCONERI</h2>
        </div>
    </div>
    <div class="contener floatfix">
        <aside >
            <div>
                @Html.Partial("_LoginPartial")
            </div>
            <div>
                <img src="~/Content/Images/tabela.png" />
            </div>
            
        </aside>
        
            @RenderBody()
            
        
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/scripts.js"></script>
<footer>
    &copy; Copyright Karol Mazur @DateTime.Now.Year
        
</footer>
    @RenderSection("Scripts", required: false)
</body>
</html>

