@model IEnumerable<juve.Models.Club>

<table class="table">
<tr>
    <th>
        @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Points)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ScoredGoals)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.LostGoals)
    </th>
    <th></th>
</tr>
    <tr>
        @foreach (var item in Model)
        {

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoredGoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LostGoals)
            </td>
        }
    </tr>
</table>