@using Microsoft.Ajax.Utilities
@model juve.ViewModels.ArticleViewModel

@{
    ViewBag.Title = Model.ArticleTitle;
}



<section class="news floatfix">

    <img src="~/Content/Images/juventus.jpg" />

    
    <h1>@Model.ArticleTitle</h1>
    <p>
        @Model.ArticleText
        @Html.ActionLink("Powrót", "Index")
    </p>
    <div style="margin-top:60px"></div>
   @if (User.Identity.IsAuthenticated)
   {
       using (Html.BeginForm("AddComment", "Comment"))
       {
           <div >

               @Html.ValidationSummary()
               @Html.HiddenFor(m => m.NewsId)
               <table id="comment-table">
                   <tr>
                       <td colspan="2">@Html.LabelFor(m => m.CommentText)</td>
                   </tr>
                   <tr>

                       <td >
                           @Html.TextAreaFor(m => m.CommentText, 5, 70, null)
                           <div class="login-validation-message">
                               @Html.ValidationMessageFor(m => m.CommentText)
                           </div>
                       </td>
                       <td style="padding: 20px"><input type="submit" value="Dodaj komentarz"/></td>
                   </tr>

               </table>
           </div>
       }
   }
   else
   {
       <p>
           Musisz się zalogować aby móc dodawać komentarze
       </p>
   }
   
    <article id="comment" >

        <p>@Html.LabelFor(m => m.Comments)</p>
        <div>
            @if (Model.Comments.Count > 0)
            {
                foreach (var item in Model.Comments)
                {
                    <p>
                        <b>@Html.DisplayFor(modelItem => item.Login) | @Html.DisplayFor(modelItem => item.Date)</b>
                        <br />
                        @Html.DisplayFor(modelItem => item.Text)
                        <hr />
                    </p>
                }
            }
            else
            {
                <p>Brak komentarzy</p>
            }
        </div>
    </article>


</section>

@section Scripts
{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}