@model juve.Models.News
@*@model juve.Models.Coment*@
@{
    ViewBag.Title = Model.Title;
}

@*<div>
    <h1>@Model.Title</h1>
    <p>@Model.Text</p>
</div>*@

<section class="news floatfix">



    <img src="~/Content/Images/juve-logo.gif" />
    <h1>@Model.Title</h1>
    <p>@Model.Text</p>
   
    @using (Html.BeginForm("AddComment", "Comment",new { id=Model.NewsId }))
    {
    <div>
       
       
      
        
        <div>
            @Html.LabelFor(m=>m.Comment)
            
        </div>
        <div>
            @Html.TextBoxFor(m=>m.Comment)
        </div>
        <input type="submit" value="Dodaj komentarz" />
    </div>
        }
    <article>
        @if (Model.Comment != null) { 
        foreach (var item in Model.Comment)
        {
            <div>
                <div>
                    @item.User.Email
                </div>
                <div>
                    @item.Text
                </div>

            </div>
            }
        }
    </article>


</section>