@model juve.ViewModels.ArticleViewModel
@*@model juve.Models.Coment*@
@{
    ViewBag.Title = Model.ArticleTitle;
}

@*<div>
    <h1>@Model.Title</h1>
    <p>@Model.Text</p>
</div>*@

<section class="news floatfix">



    <img src="~/Content/Images/juve-logo.gif" />
    <h1>@Model.ArticleTitle</h1>
    <p>@Model.ArticleText</p>
   
    @using (Html.BeginForm("AddComment", "Comment"))
    {
        <div>
            @*<div id="login-error">
                @Html.ValidationMessage("loginerror", "")
                @Html.ValidationSummary()
            </div>*@
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.NewsId)
            @Html.LabelFor(m => m.CommentText)
            @Html.TextBoxFor(m => m.CommentText)
            @*@Html.ValidationMessageFor(m => m.CommentText)*@




            <input type="submit" value="Dodaj komentarz"/>
        </div>
    }
    @*@Html.Action("AddComment", "Comment", new { id = Model.NewsId })*@
    <article>
        <table class="table">
           
        
        @Html.LabelFor(m => m.Comments)
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>item.Login):
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                @*<div>
                    <b>@item.Login</b>: @item.Text
                </div>*@
            </tr>
        }
        </table>
    </article>


</section>

@section Scripts
{
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}